<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="text">
    <main
      class="flex first-bg min-h-screen md:flex-row flex-col justify-center items-center md:gap-24 lg:p-20 gap-8 p-10">
      <form
        class="login py-16 md:w-full md:max-w-[490px] min-h-[496px] sm:w-[80%] w-[98%] rounded-xl div-bg px-6 flex flex-col justify-center items-center gap-4"
        action="/login"
        method="post">
        <h2 class="sm:text-7xl text-5xl font-bold mb-8">LOGIN</h2>

        <input
          class="input px-3 py-2 rounded-xl w-[80%]"
          type="text"
          name="email"
          placeholder="Email" />
        <input
          class="input px-3 py-2 rounded-xl w-[80%]"
          type="password"
          name="password"
          placeholder="Password" />
        <input
          class="mt-8 cursor-pointer px-5 py-2 text-2xl text-light btn-bg rounded-2xl"
          type="submit"
          value="Submit" />
      </form>
      <form
        class="signup py-16 md:w-full md:max-w-[490px] sm:w-[80%] w-[98%] rounded-xl div-bg px-6 flex flex-col justify-center items-center gap-4"
        action="/create"
        method="post">
        <h2 class="sm:text-7xl text-5xl font-bold mb-8">SIGNUP</h2>
        <input
          class="input px-3 py-2 rounded-xl w-[80%]"
          type="text"
          name="name"
          placeholder="Name" />
        <input
          class="input px-3 py-2 rounded-xl w-[80%]"
          type="text"
          name="email"
          placeholder="Email" />
        <input
          class="input px-3 py-2 rounded-xl w-[80%]"
          type="password"
          name="password"
          placeholder="Password" />
        <input
          class="mt-8 cursor-pointer px-5 py-2 text-light text-2xl btn-bg rounded-2xl"
          type="submit"
          value="Submit" />
      </form>
    </main>
  </body>
</html>
