<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="first-bg">
    <main class="flex">
      <div class="login h-[80vh]"></div>
      <div class="signup h-[80vh]"></div>
    </main>
  </body>
</html>
