<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main
      class="flex first-bg md:flex-row flex-col justify-center items-center md:gap-24 lg:p-20 gap-8 p-10">
      <form
        class="login py-16 md:w-full md:max-w-[490px] min-h-[496px] w-[80%] rounded-xl div-bg px-6 flex flex-col justify-center items-center gap-4"
        action="">
        <h2 class="text-7xl font-bold mb-8">LOGIN</h2>

        <input
          class="px-3 py-2 rounded-xl w-[80%]"
          type="text"
          placeholder="Email" />
        <input
          class="px-3 py-2 rounded-xl w-[80%]"
          type="password"
          placeholder="Password" />
        <input
          class="mt-8 px-5 py-2 text-2xl bg-[#e18aaa] rounded-2xl"
          type="submit"
          value="Submit" />
      </form>
      <form
        class="signup py-16 md:w-full md:max-w-[490px] w-[80%] rounded-xl div-bg px-6 flex flex-col justify-center items-center gap-4"
        action="">
        <h2 class="text-7xl font-bold mb-8">SIGNUP</h2>
        <input
          class="px-3 py-2 rounded-xl w-[80%]"
          type="text"
          placeholder="Name" />
        <input
          class="px-3 py-2 rounded-xl w-[80%]"
          type="text"
          placeholder="Email" />
        <input
          class="px-3 py-2 rounded-xl w-[80%]"
          type="password"
          placeholder="Password" />
        <input
          class="mt-8 px-5 py-2 text-2xl bg-[#e18aaa] rounded-2xl"
          type="submit"
          value="Submit" />
      </form>
    </main>
  </body>
</html>
